
html{
  height: 100%;
}

header {
  background-color: white;
}

header nav {
  display: flex;
  justify-content: end;
  height: 50px;
}

header nav div{
  width: 12%;
}

/* fin header */

div h1 {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

figure{
  display: flex;
  justify-content: center;
  margin: 0;
  height: 1%;
  width: 100%;
}

figure img{
  width: 12.5vw;
  border-radius: 0 0 5vh 5vh;
}

/* fin du logo */

body {
  overflow: hidden;
  height: 100%;
  background-color: rgb(23, 28, 28);
  margin: 0;
  padding: 0;
}

#dropbtn {
  padding: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  border-radius: 0 0 2em 2em;
  margin-top: 50px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 0 0 1.5em 1.5em;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(78, 109, 236); color: white;}

.dropdown:hover .dropdown-content {display: flex; flex-direction: column;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

header a{
  font-family: Arial, Helvetica, sans-serif;
}

/* Début du main*/

main{
  border-bottom: 2px solid wheat;
  border-bottom-style: dashed;
  margin: 25px 100px 0 100px;
}

footer{
  display: flex;
  margin-top: 50px;
  position: static;
  bottom: 0;
  height: 100%;
  background-color: white;
}

footer div{
  margin: 20px 150px 0 150px;
  width: 100%;
  height: 100%;
  border-top: 2px solid gray;
  border-top-style: dashed;
}

footer div p{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  appearance: none;
  border: none;
}

p{
  text-align: center;
}
/* ------------ ID ------------- */

/* ------- image select -------*/



#liste {
  margin-left: 25px;
  width: fit-content;
  display: flex;
  margin-right: auto;
  position: relative;
}

#liste select{
  width: 50px;
}

#er{
background-image: url(https://th.bing.com/th/id/OIP.02uCDT9SEwYeJSwKHDKuRAHaHa?pid=ImgDet&rs=1);
}

#custom-image{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  pointer-events: none; /* page ne prend pas en compte le block. peut activer ce qu'il y a derriere*/
}

/* ------- fin image select -------*/

#research {
  margin: 12px 10px 0px 0px;
  width: 12vw;
  height: 25px;
}

#loupe {
  margin: 10px 5px 0 0;
}

#titre_1 {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid wheat;
  margin: 0 100px 0 100px;
}

#container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 100px 25px 100px;
  gap: 20px;
  align-items: center;
  height: 45vh;
}

#box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  justify-content: space-between;
}

#form-1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

#form-1 label{
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 10px 0;
  flex-wrap: nowrap;
}

#inp{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#nom {
  display: flex;
  flex-direction: column;
}

#nomtxt {
  width: 125px;
} 

#prenom {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

#Email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 0;
}

#Sujet {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#box_mes{
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 250px;
}

#box-2{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 45vh;
  flex-shrink: 1;
}

#mestxt{
  height: 100%;
  padding: 0;
}

/* ------------ CLASSE ------------- */
.circlebox {
  height: 20px;
  width: 20px;
  margin: 0;
}

/* -------------- */

label {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

p{
  text-align: start;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

input {
  border: 2px solid gray;
  border-radius: 0.5em;
  height: 35px;
  letter-spacing: 1px;
}

input:invalid{
  background-color: pink;
  border-color: gray;
  outline: 2px solid tomato;
}
/*-------- TEXT AREA --------*/
/* question prof*/
textarea {
  resize: none;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: solid white 5px;
  border-radius: 1em;
}

#Message input::placeholder {
  position: absolute;
  top: auto;
}