header {
  background-color: white;
}

header nav {
  display: flex;
  justify-content: end;
  height: 50px;
}

header nav div{
  width: 12vw;
}

/* fin header */

div h1 {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

figure{
  display: flex;
  justify-content: center;
  margin: 0;
  height: 1%;
  width: 100vw;
}

figure img{
  width: 12.5vw;
  border-radius: 0 0 5em 5em;
}

/* fin du logo */

body {
  background-color: rgb(23, 28, 28);
  margin: auto;
  padding: auto;
}

/* Début du main*/

main{
  margin-top: 15px;
}

/* ID */

#liste {
  display: flex;
  margin-right: auto;
}

#liste select{
  width: 150px;
}

#form-1 {
  width: 25vw;
}

#inp{
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

#nom-prenom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

#nom-prenom label{
  margin: 15px 0 15px 0;
}

#nom {
  display: flex;
  flex-direction: column;
}

#nomtxt {
  width: 150px;
}

#prenom {
  display: flex;
  flex-direction: column;
}
#prenomtxt {
  width: 12.5vw;
}

#Email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
}

#mailtxt {
  flex-grow: 1;
}

#Sujet {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
}

#sujettxt {
  flex-grow: 1;
}

#box_mes{
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 250px;
}

#Message{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 45vh; 
}

#mestxt{
  height: max-content;
  /*flex-grow: 1;*/
  padding: 0;
}
/* -------------- */

/* CLASS */

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  margin-left: 250px;
  margin-right: 250px;
  align-items: center;
}

.research {
  margin: 12px 10px 0px 0px;
  width: 12vw;
  height: 25px;
}

.loupe {
  margin: 10px 5px 0 0;
}

/* fin du header */

.titre_1 {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid wheat;
  margin: 0 100px 0 100px;
}

.circlebox {
  height: 20px;
  width: 20px;
  margin: 0;
}


/* -------------- */

label {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

p{
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

input {
  border: 2px solid gray;
  border-radius: 0.5em;
  height: 35px;
}

input:not(:placeholder-shown):invalid{
  background-color: pink;
  border-color: gray;
  outline: 2px solid tomato;
}

#Message input::placeholder {
  position: absolute;
  top: auto;
}
/* question prof*/
textarea {
  resize: none;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: solid white 10px;
  border-radius: 1em;
}